:root {
  scroll-behavior: smooth;
  --primary-theme-color: #20232a;
  --secondary-theme-color: #282c34;
  --primary-text-color: #fff;
  --secondary-text-color: #888;
  --reverse-primary-text-color: #000;
  --primary-shadow-color: #ffffff80;
  --secondary-shadow-color: #ffffff40;
  --reverse-primary-shadow-color: #00000080;
  --reverse-secondary-shadow-color: #00000040;
  --primary-highlight-color: #61dafb;
  --secondary-highlight-color: gold;
  --primary-button-color: #61dafb;
  --secondary-button-color: gold;
  --primary-font-family: 'Inconsolata', monospace;
  --max-width-container: 512px;
  --padding-section: 1.5rem;
  --padding-container: 1rem;
  --primary-border-radius: 0.5rem;
}

@media (min-width: 768px) {
  :root {
    --max-width-container: 1024px;
    --padding-section: 2rem;
    --padding-container: 0.75rem;
  }
}
  /*
:root{
    
    scroll-behavior:smooth;
    --primary-theme-color: #20232a;
    --secondary-theme-color: #282c34;
    --primary-text-color: #fff;
    --secondary-text-color: #aeaeae;
    --reverse-primary-text-color: #000;
    --primary-invalid-color: crimson;
    --primary-shadow-color: #20232a80;
    --secondary-shadow-color: #282c3480;
    --tertiary-shadow-color: #00000040;
    --reverse-primary-shadow-color: #fff8;
    --primary-highlight-color: #61dafb;
    --secondary-highlight-color: gold;
    --primary-button-color: #61dafb;
    --secondary-button-color: gold;
    --primary-font-family: 'Inconsolata', monospace;
    --padding-section: 1.5rem;
    --padding-container: 1rem;
    --max-width-container: 640px;
    --primary-border-radius: 0.5rem;
  }
  
  .body {
    background-color: var(--primary-theme-color);
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    margin: 0;
  }
  .container {
    max-width: var(--max-width-container);
    margin: auto;
    padding-left: var(--padding-container);
    padding-right: var(--padding-container);
    display: flex;
   align-items: center;
    justify-content: space-between;
  }
  
  .menu {
    display: flex;
    gap: 0.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menulink {
    color: var(--primary-text-color);
    text-decoration: none;
  }
  
  .menulink:hover {
    color: var(--primary-highlight-color);
  }*/